Repository kurtosis-tech/kurtosis, pull requests merged in 2023-09, with the labels that each got.

#1305 chore: deprecation msg for local absolute locators
  core/server/api_container/server/startosis_engine/builtins/import_module/import_module.go
  core/server/api_container/server/startosis_engine/builtins/read_file/read_file.go
  core/server/api_container/server/startosis_engine/kurtosis_builtins.go
  core/server/api_container/server/startosis_engine/kurtosis_instruction/upload_files/upload_files.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/builtin_argument/validators.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/kurtosis_base_builtin_internal.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/kurtosis_base_builtin_internal_test.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/import_module_framework_test.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/read_file_framework_test.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/upload_files_framework_test.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/upload_files_update_framework_test.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/upload_files_without_name_framework_test.go
  core/server/api_container/server/startosis_engine/kurtosis_types/service_config/service_config.go
  core/server/api_container/server/startosis_engine/starlark_warning/deprecation_notice.go
  core/server/api_container/server/startosis_engine/startosis_interpreter.go
Labels: user facing

#1337 docs: quickstarts for consuming and authoring packages
  docs/docs/explanations/architecture.md
  docs/docs/explanations/why-kurtosis-starlark.md
  docs/docs/explanations/why-we-built-kurtosis.md
  docs/docs/get-started/home.md
  docs/docs/get-started/quickstart-author.md
  docs/docs/get-started/quickstart-consumer.md
  docs/docs/guides/adding-command-line-completion.md
  docs/docs/guides/how-to-compose-your-own-testnet.md
  docs/docs/guides/how-to-full-mev-with-eth2-package.md
  docs/docs/guides/how-to-local-eth-testnet.md
  docs/docs/guides/how-to-parameterize-cassandra.md
  docs/docs/guides/installing-historical-versions.md
  docs/docs/guides/installing-the-cli.md
  docs/docs/guides/running-in-ci.md
  docs/docs/guides/running-in-k8s.md
  docs/docs/guides/running-in-kurtosis-cloud.md
  docs/docs/guides/upgrading-the-cli.md
Labels: docs

#1313 docs: refactor the 'render templates' documentation for a new structured format, first example of a wider refactor
  docs/docs/starlark-reference/plan.md
Labels: docs, user facing

#1405 docs: update positioning on home page
  docs/docs/get-started/home.md
Labels: docs

#1418 docs: expand environment usage wording from test to generic environments
  docs/docs/engine-apic-reference.md
  docs/docs/get-started/home.md
  docs/docs/get-started/quickstart-author.md
  docs/docs/get-started/quickstart.md
  docs/docs/guides/how-to-local-eth-testnet.md
  docs/docs/guides/how-to-parameterize-cassandra.md
Labels: docs, user facing

#1431 docs: updated clean command page per issue description
  docs/docs/cli-reference/clean.md
Labels: user facing
