Repository kurtosis-tech/kurtosis, pull requests merged in 2023-10, with the labels that each got.

#1446 feat!: block 'local absolute locators', users should replace' local absolute locators' with 'relative locators'
  core/server/api_container/server/startosis_engine/builtins/import_module/import_module.go
  core/server/api_container/server/startosis_engine/builtins/read_file/read_file.go
  core/server/api_container/server/startosis_engine/kurtosis_instruction/upload_files/upload_files.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/builtin_argument/validators.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/import_module_framework_test.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/import_module_with_local_absolute_locator_framework_test.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/read_file_framework_test.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/read_file_with_local_absolute_locator_framework_test.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/static_constants.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/suite_kurtosis_helper_test.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/suite_kurtosis_plan_instruction_test.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/upload_files_framework_test.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/upload_files_update_framework_test.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/upload_files_with_local_absolute_locator_framework_test.go
  core/server/api_container/server/startosis_engine/kurtosis_starlark_framework/test_engine/upload_files_without_name_framework_test.go
  core/server/api_container/server/startosis_engine/startosis_packages/mock_package_content_provider/mock_package_content_provider.go
  internal_testsuites/starlark/no-run-in-main-star/main.star
  internal_testsuites/starlark/upload-file-package/main.star
  internal_testsuites/starlark/valid-kurtosis-package-with-input/main.star
Labels: user facing

#1455 feat: Get Starlark Run APIC endpoint
  api/golang/core/kurtosis_core_rpc_api_bindings/api_container_service.pb.go
  api/golang/core/kurtosis_core_rpc_api_bindings/api_container_service_grpc.pb.go
  api/golang/core/kurtosis_core_rpc_api_bindings/kurtosis_core_rpc_api_bindingsconnect/api_container_service.connect.go
  api/golang/core/lib/enclaves/enclave_context.go
  api/golang/engine/kurtosis_engine_rpc_api_bindings/engine_service.pb.go
  api/golang/engine/kurtosis_engine_rpc_api_bindings/engine_service_grpc.pb.go
  api/protobuf/core/api_container_service.proto
  api/rust/src/api_container_api.rs
  api/typescript/src/core/kurtosis_core_rpc_api_bindings/api_container_service_grpc_pb.d.ts
  api/typescript/src/core/kurtosis_core_rpc_api_bindings/api_container_service_grpc_pb.js
  api/typescript/src/core/kurtosis_core_rpc_api_bindings/api_container_service_grpc_web_pb.d.ts
  api/typescript/src/core/kurtosis_core_rpc_api_bindings/api_container_service_grpc_web_pb.js
  api/typescript/src/core/kurtosis_core_rpc_api_bindings/api_container_service_pb.d.ts
  api/typescript/src/core/kurtosis_core_rpc_api_bindings/api_container_service_pb.js
  api/typescript/src/core/kurtosis_core_rpc_api_bindings/connect/api_container_service_connect.d.ts
  api/typescript/src/core/kurtosis_core_rpc_api_bindings/connect/api_container_service_connect.js
  api/typescript/src/core/kurtosis_core_rpc_api_bindings/connect/api_container_service_pb.d.ts
  api/typescript/src/core/kurtosis_core_rpc_api_bindings/connect/api_container_service_pb.js
  api/typescript/src/core/lib/enclaves/enclave_context.ts
  api/typescript/src/core/lib/enclaves/generic_api_container_client.ts
  api/typescript/src/core/lib/enclaves/grpc_node_api_container_client.ts
  cli/cli/kurtosis_gateway/server/api_container_gateway/api_container_gateway_service_server.go
  core/server/api_container/main.go
  core/server/api_container/server/api_container_service.go
  docs/docs/engine-apic-reference.md
Labels: user facing

#1443 docs: Update ethereum-package name on three pages
  docs/docs/cli-reference/clean.md
  docs/docs/get-started/quickstart.md
  docs/docs/guides/how-to-full-mev-with-eth2-package.md
  docs/docs/guides/how-to-local-eth-testnet.md
Labels: user facing

#1499 docs: correct next page link for Starlark and CLI reference doc pages
  docs/docs/cli-reference/index.md
  docs/docs/starlark-reference/index.md
Labels: docs, user facing

#1492 docs: regular replace package dependency and replace package with no-main-branch
  docs/docs/concepts-reference/kurtosis-yml.md
Labels: user facing

#1522 docs: add mention of forum to readme
  README.md
Labels: user facing

#1514 feat: highlight the active cluster in kurtosis cluster ls
  cli/cli/commands/cluster/ls/ls.go
Labels: user facing

#1545 docs: local replace package dependency
  docs/docs/concepts-reference/kurtosis-yml.md
Labels: user facing

#1537 feat: rename kurtosis context "switch" to "set"
  cli/cli/command_str_consts/command_str_consts.go
  cli/cli/commands/cloud/load/load.go
  cli/cli/commands/cluster/set/set.go
  cli/cli/commands/kurtosis_context/kurtosis_context.go
  cli/cli/commands/kurtosis_context/set/set.go
  contexts-config-store/store/contexts_config_store.go
  contexts-config-store/store/contexts_config_store_impl.go
  contexts-config-store/store/contexts_config_store_impl_test.go
  contexts-config-store/store/mock_contexts_config_store.go
Labels: user facing

#1547 feat: kurtosis package init command
  api/golang/core/lib/enclaves/kurtosis_yaml.go
  api/golang/core/lib/shared_utils/parsed_git_url.go
  api/golang/core/lib/shared_utils/parsed_git_url_test.go
  cli/cli/command_str_consts/command_str_consts.go
  cli/cli/commands/package/init_cmd/init_cmd.go
  cli/cli/commands/package/package.go
  cli/cli/commands/root.go
  cli/cli/kurtosis_config/kurtosis_config_store.go
  cli/cli/kurtosis_package/kurtosis_package.go
  cli/cli/kurtosis_package/kurtosis_package_test.go
  core/server/api_container/server/startosis_engine/startosis_constants/startosis_constants.go
  core/server/api_container/server/startosis_engine/startosis_packages/git_package_content_provider/git_package_content_provider.go
  core/server/api_container/server/startosis_engine/startosis_packages/git_package_content_provider/git_package_content_provider_test.go
  core/server/api_container/server/startosis_engine/startosis_packages/git_package_content_provider/locators.go
  core/server/api_container/server/startosis_engine/startosis_packages/mock_package_content_provider/mock_package_content_provider.go
  docs/docs/cli-reference/package-init.md
Labels: user facing

#1495 feat: Add cli argument to control image download
  api/golang/core/kurtosis_core_rpc_api_bindings/api_container_service.pb.go
  api/golang/core/lib/binding_constructors/binding_constructors.go
  api/golang/core/lib/enclaves/enclave_context.go
  api/golang/core/lib/shared_utils/proto_default_value.go
  api/golang/core/lib/starlark_run_config/starlark_run_config.go
  api/golang/engine/kurtosis_engine_rpc_api_bindings/engine_service.pb.go
  api/golang/engine/kurtosis_engine_rpc_api_bindings/engine_service_grpc.pb.go
  api/protobuf/core/api_container_service.proto
  api/rust/src/api_container_api.rs
  api/typescript/src/core/kurtosis_core_rpc_api_bindings/api_container_service_pb.d.ts
  api/typescript/src/core/kurtosis_core_rpc_api_bindings/api_container_service_pb.js
  api/typescript/src/core/kurtosis_core_rpc_api_bindings/connect/api_container_service_pb.d.ts
  api/typescript/src/core/kurtosis_core_rpc_api_bindings/connect/api_container_service_pb.js
  cli/cli/commands/run/run.go
  container-engine-lib/lib/backend_impls/docker/docker_kurtosis_backend/docker_kurtosis_backend.go
  container-engine-lib/lib/backend_impls/docker/docker_kurtosis_backend/docker_kurtosis_backend_api_container_functions.go
  container-engine-lib/lib/backend_impls/docker/docker_manager/create_and_start_container_args.go
  container-engine-lib/lib/backend_impls/docker/docker_manager/docker_manager.go
  container-engine-lib/lib/backend_impls/kubernetes/kubernetes_kurtosis_backend/kubernetes_kurtosis_backend.go
  container-engine-lib/lib/backend_impls/metrics_reporting/metrics_reporting_kurtosis_backend.go
  container-engine-lib/lib/backend_interface/kurtosis_backend.go
  container-engine-lib/lib/backend_interface/mock_kurtosis_backend.go
  container-engine-lib/lib/backend_interface/objects/image_download_mode/image_download_mode.go
  core/server/api_container/server/api_container_service.go
  core/server/api_container/server/startosis_engine/startosis_runner.go
  core/server/api_container/server/startosis_engine/startosis_validator.go
  core/server/api_container/server/startosis_engine/startosis_validator/docker_images_validator.go
  core/server/api_container/server/startosis_engine/startosis_validator/validator_environment.go
  core/server/api_container/server/startosis_engine/startosis_validator/validator_environment_test.go
  docs/docs/cli-reference/run.md
Labels: user facing

#1661 docs: directing to monorepo instead of landing page in intro in docs
  docs/docs/get-started/home.md
  docs/docs/guides/how-to-local-eth-testnet.md
Labels: docs
