Repository kurtosis-tech/kurtosis, pull requests merged in 2023-11, with the labels that each got.

#1650 feat: rename all JSON to YAML
  docs/docs/best-practices.md
  docs/docs/cli-reference/run.md
  docs/docs/get-started/quickstart.md
  docs/docs/guides/how-to-compose-your-own-testnet.md
  docs/docs/guides/how-to-full-mev-with-eth2-package.md
  docs/docs/guides/how-to-local-eth-testnet.md
Labels: request-cf-deploy

#1648 docs: Change Windows installation to allow using cmdlet
  docs/docs/guides/installing-the-cli.md
Labels: request-cf-deploy

#1695 feat: add autocomplete for cluster set command
  cli/cli/commands/cluster/ls/ls.go
  cli/cli/commands/cluster/set/set.go
Labels: user facing, papercut

#1751 feat: add enclave's flags info in the `kurtosis enclave inspect` CLI command
  cli/cli/commands/enclave/inspect/inspect.go
  cli/cli/commands/import/import.go
  cli/cli/commands/run/run.go
  docs/docs/cli-reference/enclave-inspect.md
Labels: user facing

#1805 docs: revamp package consumer quickstart
  docs/docs/get-started/basic-concepts.md
  docs/docs/get-started/get-started.md
  docs/docs/get-started/installing-the-cli.md
  docs/docs/get-started/quickstart.md
  docs/docs/guides/installing-historical-versions.md
  docs/docusaurus.config.js
  docs/static/img/home/basic-service-default-output.png
  docs/static/img/home/basic-service-modified-cli-output.png
  docs/static/img/home/files-artifact-output-concepts.png
  docs/static/img/home/quickstart-default-run.png
  docs/static/img/home/quickstart-default-service-c-frontend.png
  docs/static/img/home/quickstart-params-output.png
  docs/static/img/home/quickstart-service-c-partying.png
  docs/static/img/home/service-c-default.png
  docs/static/img/home/service-c-partying.png
Labels: docs
